<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!-- 内容区域 -->
<div class="tpl-content-wrapper">
            <div class="tpl-content-page-title" th:text="#{views.user.password.title}" >
              <!-- 表单 -->
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home" th:text="#{views.user.password.systemManagement}"><!-- 系统管理 --></a></li>
                <li><a th:href="@{~/user/list}" th:text="#{views.user.password.userManagement}"><!-- 用户管理 --></a></li>
                <li class="am-active" th:text="#{views.user.password.modifyPwd}"><!-- 密码修改 --></li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-form"></span><span th:text="${title}"></span>
                    </div>
                <!--     <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                <i class="am-icon-search"></i>
                                <input type="text" class="form-control form-control-solid" placeholder="搜索..."> </div>
                        </div>
                    </div> -->


                </div>
                <div class="tpl-block ">

                    <div class="am-g tpl-amazeui-form">


                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal" th:action="@{~/user/modifyPassWd}" method="post">
                               <input name="id" type="hidden" th:value="${obj.id}" />
                                   <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label" th:text="#{views.user.password.username}">用户名</label>
                                    <div class="am-u-sm-9">
                                       <!--  <input type="text" id="user-name" name="username"   placeholder="name"/>
                                        -->
                                       <label for="user-name" class="am-u-sm-3 am-form-label" th:text="${obj.username}">用户名</label> 
                                    </div>
                                </div> 
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label" th:text="#{views.user.password.password}">密码</label>
                                    <div class="am-u-sm-9">
                                        <input type="password" id="user-name" name="password"  placeholder="密码/password"/>
                                        <!-- <small>输入你的名字，让我们记住你。</small> -->
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-3 am-form-label" th:text="#{views.user.password.rePassword}">再次确认密码</label>
                                    <div class="am-u-sm-9">
                                        <input type="password" id="user-name" name="password2"  placeholder="再次输入密码/retype"/>
                                        <!-- <small>输入你的名字，让我们记住你。</small> -->
                                    </div>
                                </div>

                               
                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button type="button" class="am-btn am-btn-primary" th:text="#{views.user.password.confirm}">确认提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
<script th:inline="javascript">
/*<[[*/  
$(function(){
	  var $form = $(".tpl-amazeui-form form");
		$(".am-form-group button").on("click",function(e){
			
		var	password1=$("input[name='password']").val();
		var password2=$("input[name='password2']").val();
		if(!password1||!password2){
			comm.showMsg([[#{views.user.password.passwordNull}]]);
			return;
		}
		if(password1!=password2){
			comm.showMsg([[#{views.user.password.passwordDifferent}]]);
			return;
		}
			 _data = $form.serializeArray();//序列化表单数据
			 $btn=$(".am-form-group button");
			 $btn.attr("disabled","disabled");
			 $btn.text([[#{operation.submitting}]]);
			 $.post($form.attr("action"),_data,function(result){
					if(result.code =="success"){
						comm.showMsg([[#{operation.success}]]);
						setTimeout(function(){
							window.location.href ="/user/list";
						},2000);
						
					}else if(result.code =="fail"){
						comm.showMsg([[#{operation.failMsg}]]);
						 $btn.removeAttr("disabled","disabled");
						 $btn.text([[#{operation.submit}]]);
					}
				});
			
		});
		
});
/*]]>*/  
</script>


</html>